body {
  padding: 100px;
  background: #1e1e2f;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 50px;
}

.converter {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 10px;
  gap: 10px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background: #777b7c;
}

h2{
  font-size: 30px;
}

#number {
  color: #1e1e2f;
  height: 50px;
  font-size: 20px;
}

#convert-btn {
  background: #0dcaf0;
  color: #1e1e2f;
  height: 50px;
  font-size: 20px;
}

#output {
  color: #ffffff;
  height: 50px;
  font-size: 50px;
}

#output:empty {
  display: none;
}
