body {
  padding: 50px;
  background: #1e1e2f;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.converter {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 10px;
  gap: 10px;
  max-width: 200px; 
  margin: 0 auto;
  background: #777b7c;
}

#convert-btn {
  background: #0dcaf0;
  color: #1e1e2f;
}
